*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
*.idea
*.apk
reporter/*
node_modules/*
package-lock.json
/Users/tron/tron_work/A/TronLink_4.2/tronlink-android/build.gradle
/Users/tron/tron_work/A/TronLink_4.2/tronlink-android/gradle/wrapper/gradle-wrapper.properties
app/build

